.wpt-admin-panel{position:relative;width:780px;margin:20px auto}
.wpt-admin-header{position:relative;float:left;width:780px;height:144px;background:url(images/header.png) no-repeat}
.wpt-admin-header .wpt-admin-header-logo{position:relative;float:left;width:56px;height:56px;margin-left:55%;right:70px;margin-top:18px;text-indent:-9999px;background:url(images/logo.png) no-repeat;}
.wpt-admin-header .wpt-admin-header-options{position:absolute;width:500px;height:25px;left:15px;bottom:19px;line-height:25px;font-size:11px;color:#9a8e82}
#admin_work_wrap{position:relative;float:left;width:780px;background:url(images/bg.png)}
.tabscontainer{position:relative;float:left;width:780px;background:url(images/content.png);margin:0}
div.tabscontainer div.tabs{list-style:none;width:237px;cursor:pointer;float:left;z-index:20;margin:0 0 0 13px}
div.tabs div.tab{display:block;height:34px;width:229px;position:relative;color:#d5d5d5;border-left:1px solid #ababab;border-right:1px solid #ababab;border-bottom:1px solid #ababab;border-top:1px solid #ababab}
div.tabs div.tab + div.tab{border-top:0 none}
div.tabs div.link{position:relative;float:left;width:229px;height:34px;font-size:14px;z-index:50;line-height:34px;font-weight:bold;color:#000;padding:0 0 0 8px}
div.tabs div.tab.selected{color:#464646}
div.tabs div.tab.selected div.link{background:url(images/active-tab.png) no-repeat;text-shadow:0 -1px #000;color:#fff}



div.tabscontainer div.curvedContainer{position:relative;float:right;min-height:412px;width:485px;right:1px;z-index:5;margin:0 18px 0 0}
div.tabscontainer div.curvedContainer .tabcontent{position:relative;float:left;width:485px;display:none;font-size:12px;min-height:412px;padding:0}
.curvedContainer .reset_button{position:absolute;width:108px;height:31px;background:transparent url(images/button.png) no-repeat!important;border:0 none!important;color:#ababab;font-size:13px;font-weight:700;text-shadow:0 -2px 1px #000;cursor:pointer;top:-47px;right:128px}
.curvedContainer .reset_bottom_button{position:absolute;width:108px;height:31px;background:transparent url(images/button.png) no-repeat!important;border:0 none!important;color:#ababab;font-size:13px;font-weight:700;text-shadow:0 -2px 1px #000;cursor:pointer;bottom:-50px;right:128px}
.curvedContainer .reset_button:hover,.curvedContainer .submit_button:hover,.curvedContainer .reset_bottom_button:hover,.curvedContainer .submit_bottom_button:hover{color:#fff}
.curvedContainer .submit_button{position:absolute;width:108px;height:31px;background:transparent url(images/button.png) no-repeat!important;border:0 none!important;color:#ababab;font-size:13px;font-weight:700;text-shadow:0 -2px 1px #000;cursor:pointer;top:-47px;right:0}
.curvedContainer .submit_bottom_button{position:absolute;width:108px;height:31px;background:transparent url(images/button.png) no-repeat!important;border:0 none!important;color:#ababab;font-size:13px;font-weight:700;text-shadow:0 -2px 1px #000;cursor:pointer;bottom:-50px;right:0}
.wpt-footer{position:relative;float:left;width:780px;height:63px;background:url(images/footer.png) no-repeat}
.wpt_opts .wpt_field_area{position:relative;float:left;margin:0 0 25px}
.wpt_opts .wpt_largetext{position:relative;float:left;width:485px;margin:0 0 15px}


.wpt_opts .wpt-field-description{position:relative;float:left;width:100%;color:gray;font-size:11px;margin:0}
.wpt_opts label{color:#000;font-size:18px}
.label-wrap{position:relative;float:left;width:100%;color:#000;font-size:18px;margin:0}
.wpt_opts .wpt_largetext .largetext{position:relative;float:left;width:484px;height:32px;line-height:32px;border:1px solid #8296ad;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;font-size:12px;color:#333;-webkit-box-shadow:inset 0 2px 2px #999;-moz-box-shadow:inset 0 2px 2px #999;box-shadow:inset 0 2px 2px #999;padding:3px 8px 1px}
.wpt_textarea_wrap{position:relative;float:left;width:484px;height:160px;min-height:160px;line-height:20px;resize:vertical;border:1px solid #8296ad;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;font-size:12px;color:#333;-webkit-box-shadow:inset 0 2px 2px #999;-moz-box-shadow:inset 0 2px 2px #999;box-shadow:inset 0 2px 2px #999;padding:8px}

.checkboxgroup-wrap{position:relative;float:left;width:483px;background:#fff;border:1px solid #c5c7ca;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;-webkit-box-shadow:inset 0 2px 2px #999;-moz-box-shadow:inset 0 2px 2px #999;box-shadow:inset 0 2px 2px #999}
.checkboxgroup-wrap .wpt-ch-group{position:relative;float:left;width:467px;height:20px;padding:8px 8px 4px}
.checkboxgroup-wrap .wpt-ch-group label{font-size:12px;font-weight:700}
.checkboxgroup-wrap .wpt-ch-group .checkbox_class{position:relative;float:right}
.checkboxgroup-wrap .wpt-ch-group + .wpt-ch-group{border-top:1px solid #c5c7ca}
.wpt_checkbox,.wpt_select_area{position:relative;flot:left;width:100%;margin:0 0 15px}


.ft-image{
	position: absolute;
	width: 258px;
	height: 198px;
	background: url(images/footer-skin.png) no-repeat;
	bottom: 0px;
	left: 0px;
}




.wpt_opts .wpt_file .upload-area .image_fld{
	position: relative;
	float: left;
	width: 475px;
	height: 21px;
	background: blue;
	
	width:484px;height:32px;line-height:32px;border:1px solid #8296ad;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;font-size:12px;color:#333;-webkit-box-shadow:inset 0 2px 2px #999;-moz-box-shadow:inset 0 2px 2px #999;box-shadow:inset 0 2px 2px #999;padding:3px 8px 1px
	
}

.wpt_opts .wpt_file{position:relative;float:left;width:485px;margin:0 0 15px}

.wpt_opts .wpt_file .upload-area{
	position: relative;
	float: left;
	width: 485px;
	background: red;
}

.wpt_opts .wpt_file .upload-area{
	position: relative;
	float: left;
	width: 485px;
	background: red;
}


/*Checkbox*/
span.checkbox{position:relative;float:right;width:47px;height:21px;border:0 none;background:url(images/checkbox.png) no-repeat;cursor:pointer}
span.checkbox.checked span{position:relative;float:left;width:47px;height:21px;background:url(images/checkbox.png) 0 -21px no-repeat}

/*Select*/
.wpt-select{position:relative;float:left;width:238px;height:23px}
.selectbox{vertical-align:middle;cursor:pointer}
.selectbox .select{width:209px;height:21px;border:1px solid #CCC;border-bottom-color:#B3B3B3;border-radius:4px;background:#F5F5F5 url(images/select.png) repeat-x;box-shadow:inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);color:#000;font-size:12px;line-height:21px;font-weight:bold;text-shadow:0 1px #fff;padding:2px 21px 0 10px}
.selectbox .select:hover{background-position:0 -23px}
.selectbox .select:active{background-position:0 -23px;box-shadow:inset 1px 1px 3px #DDD}
.selectbox.focused .select{border:1px solid #5794BF}
.selectbox .select .text{display:block;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.selectbox .trigger{position:absolute;top:0;right:0;width:21px;height:100%}
.selectbox .trigger .arrow{position:absolute;top:8px;right:7px;width:7px;height:10px;overflow:hidden;background:url(images/select-arrow.png) no-repeat}
.selectbox .dropdown{top:25px;width:240px;border:1px solid #C6CBD0;border-radius:4px;background:#FFF;box-shadow:0 2px 10px rgba(0,0,0,0.2);font-size:12px;line-height:16px;margin:0;padding:4px 0}
.selectbox li{color:#231F20;margin-bottom:0;padding:4px 10px 5px}
.selectbox ul{margin:0}
.selectbox li.selected{background:#A3ABB1;color:#FFF}
.selectbox li:hover{background:#08C;color:#FFF}