/**
 * Theme Name: Кредиты - онлайн
 * Theme URI: http://demo.wpteam.net/?theme=kredits
 * Description: Input here theme description
 * Author: WPTeam
 * Author URI: http://wpteam.net/
 * Version: 1.0
 */
 
img.aligncenter{display:inline !important;margin-left:auto;margin-right:auto}
.wp-caption{background:#fff;border:1px solid #f0f0f0;max-width:96%;text-align:center;padding:5px 3px 10px}
.wp-caption.alignright{margin:5px 0 20px 20px}
.wp-caption img{border:0 none;height:auto;max-width:98.5%;width:auto;margin:0;padding:0}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;margin:0;padding:0 4px 5px}
.alignnone,a img.alignnone,.wp-caption.alignnone,.wp-caption.alignleft{margin:5px 20px 5px 0}
.aligncenter,div.aligncenter,.aligncenter{display:block;margin:5px auto;text-align:center}
.alignright,a img.alignright{float:right;margin:5px 0 5px 20px}
.alignleft,a img.alignleft{float:left;margin:5px 20px 5px 0}
.dataTables_wrapper,.dataTables_wrapper thead{width:604px;}
*{margin:0;padding:0;outline-style:none;border:0px none}
img{border:none;}
html{min-width:1000px;}

body{font-size:14px;font-family:'PT Sans';color:#000;min-width:1000px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;cursor:pointer}
b, strong{font-weight:bold;}
u{text-decoration:underline;}
s{text-decoration:line-through;}
p{margin:0;}
i{font-style:italic;}
big{text-transform:uppercase;}
small{text-transform:lowercase;}
ul{position:relative;}
ul li{list-style:none}
ol{position:relative;}
.tablepress img{width:120px;}
.tablepress{font-size:14px}
.tablepress thead{line-height:16px;border-radius:6px;overflow:hidden;}
.tablepress input[type=button]{height:30px !important;margin-right: 0px}


section.single_area table.reviews-table td{text-align:center;padding-left:0;padding-right:0;padding-top:25px}
section.single_area table.reviews-table td img{width:100px;height:50px;margin-bottom:5px}
section.single_area table.reviews-table td span{display:block;}

.tablepress thead .column-1{border-radius:6px 0 0 6px}
.tablepress thead .column-5{border-radius:0 6px 6px 0}

.tablepress thead th, .tablepress tfoot th{background:url(images/nav_bg.png) repeat-x scroll left top !important;text-align:center;color:#fff;font-weight:normal;}
div.wrapper{margin:0 auto;width:980px;}
header{float:left;width:980px;padding:20px 0 0}
header .logo{float:left;margin:7px 0 0}
header .logo img{float:left;width:280px;height:80px}
header .top_banner{float:right}
header .top_banner img{float:left;width:600px;height:90px;padding:0px}
header .navigation{float:left;width:976px;height:38px;background:#00b1c7 url(images/nav_bg.png) left top repeat-x;border-radius:6px;margin:15px 0 0;padding:2px}
header .navigation .border{float:left;width:974px;height:36px;border:1px solid #38aedd;border-top:1px solid #38aedd;border-radius:6px}
header nav{float:left;width:640px;height:38px;overflow:hidden}
header nav ul{margin:-2px 0 0}
header nav li{float:left;height:38px;line-height:38px}
header nav li{background:url(images/separator.png) right 1px no-repeat;padding:0 2px 0 0}
header nav li a{float:left;font-size:16px;height:38px;color:#fff;padding:0 14px}
header nav li a:hover{background:url(images/nav_act.png) left bottom repeat-x;text-decoration:none}
header nav .home:hover{background:url(images/nav_act.png) left top repeat-x}
header nav .home a{width:47px;background:url(images/home.png) center center no-repeat;text-indent:-9999px;padding:0}
header nav .home{border-radius:6px 0 0 6px;overflow:hidden}
header nav .home a:hover{background:url(images/home.png) center center no-repeat;border-radius:0}
header .city{float:left;width:168px;margin:3px 0 0 7px}
header .selectbox{vertical-align:middle;cursor:pointer}
header .selectbox .select{width:141px;height:28px;line-height:26px;border:1px solid #ffbf00;border-radius:7px;background:url(images/town_bg.png) left top repeat-x;color:#000;padding:0 15px 0 10px}
header .selectbox.disabled .select{border:1px solid #CCC;box-shadow:none;background:#F5F5F5;color:#888}
header .selectbox .select .text{display:block;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
header .selectbox .trigger{position:absolute;top:0;right:0;width:34px;height:100%}
header .selectbox .trigger .arrow{position:absolute;top:12px;right:10px;width:13px;height:8px;background:url(images/arrow_down.png) left top no-repeat}
header .selectbox .dropdown{top:33px;width:240px;border:1px solid #C6CBD0;border-radius:4px;background:#fff;box-shadow:0 2px 10px rgba(0,0,0,0.2);margin:0;padding:4px 0}
header .selectbox li{color:#231F20;padding:5px 10px 6px}
header .selectbox li.selected{background:#A3ABB1;color:#FFF}
header .selectbox li:hover{background:#08C;color:#FFF}
header .selectbox li.disabled{color:#AAA}
header .selectbox li.disabled:hover{background:none}
header .search_form{position:relative;float:right;width:139px;height:30px;border:1px solid #0b8995;background:#fff;border-radius:6px;box-shadow:inset 0 0 1px rgba(0,0,0,0.9);margin:3px 7px 0 6px}
header .search_form input[type=text]{float:left;width:100px;background:none;height:30px;line-height:29px;font-size:14px;font-family:'PT Sans';color:#9d9d9d;margin:0 0 0 9px}
header .search_form input[type=submit]{position:absolute;right:10px;top:10px;width:12px;height:12px;background:url(images/search.png) left top no-repeat;cursor:pointer}

nav.block_nav{float:left;width:980px;margin:15px 0 0}
nav.block_nav li{float:left;width:135px}
nav.block_nav li a{float:left;width:135px;font-size:15px;line-height:15px;color:#3a3a3a;text-align:center;padding:113px 0 0}
nav.block_nav li+li{margin:0 0 0 34px;}
nav.block_nav .item_1 a{background:url(images/items/1.png) center 18px no-repeat;}
nav.block_nav .item_2 a{background:url(images/items/2.png) center 27px no-repeat;}
nav.block_nav .item_3 a{background:url(images/items/3.png) center 13px no-repeat;}
nav.block_nav .item_4 a{background:url(images/items/4.png) center 28px no-repeat;}
nav.block_nav .item_5 a{background:url(images/items/5.png) center 0 no-repeat;}
nav.block_nav .item_6 a{background:url(images/items/6.png) center 14px no-repeat;}

section.content{float:left;width:980px;padding:17px 0 0}
section.content_wrapp{float:left;width:646px}
section.content_wrapp .states h2{float:left;width:100%;font-size:27px;color:#3a3a3a;margin:0 0 7px}
section.content_wrapp .pagination{float:left;width:100%;text-align:center;margin:20px 0 0}
section.content_wrapp .pagination a{font-size:18px;color:#3a3a3a}
section.content_wrapp .pagination a:hover{color:#00B5C7}
section.content_wrapp .pagination span{font-size:18px;color:#00B5C7;text-decoration:underline}
section.content_wrapp .pagination .prev{margin:0 10px 0 0}
section.content_wrapp .pagination .next{margin:0 0 0 10px}
section.single_area{float:left;width:604px;border:1px solid #ebebeb;border-radius:6px;box-shadow:0 0 10px rgba(0,0,0,0.1);line-height:21px;font-family:Arial, Helvetica, sans-serif;margin:0 0 26px;padding:20px}
section.single_area h1,section.single_area h2,section.single_area h3,section.single_area h4,section.single_area h5,section.single_area h6{float:none;width:auto;color:#3a3a3a;margin:0 0 15px}
section.single_area h2{font-size:20px}
section.single_area h3{font-size:18px}
section.single_area h4,section.single_area h5,section.single_area h6{font-size:16px}
section.single_area p{margin:0 0 15px}
section.single_area .single_image{float:left;width:200px;height:136px;margin:0 15px 0 0}
section.single_area ul{margin:0 0 15px;padding:0 0 0 17px}
section.single_area ul li{list-style:disc}
section.single_area ol{margin:0 0 15px;padding:0 0 0 21px}
section.single_area table{width:100%;border-collapse:collapse;margin:0 0 15px}
section.single_area .thead{background:url(images/nav_bg.png) left top repeat-x;text-align:center;color:#fff;font-weight:700;}
section.single_area .thead td{padding:5px 0 7px;}


.tablepress td{border-top:1px dashed #DDDDDD !important}
section.single_area table td{text-aling:center;padding:5px 10px;/*border:1px solid #00b5c7;*/vertical-align:middle;}
section.single_area table td.column-2 {width:120px;text-align: center;}
section.single_area table td.column-5 {padding:0;}
section.single_area table td.column-5 a{text-decoration:none}
section.single_area table td span{float:left;width:120px;font-family:Arial;font-size:10px;line-height:13px;color: #707070;}
section.single_area table td span a{color:#0DA3DC;}
section.single_area table td img{margin:0}
section.single_area .page_title{float:left;width:100%}
section.related_post h2{float:left;width:100%;font-size:27px;color:#3a3a3a;margin:0 0 10px}
section.share_block{float:left;width:615px;border:1px solid #ebebeb;border-radius:6px;box-shadow:0 0 10px rgba(0,0,0,0.1);margin:0 0 26px;padding:10px 10px 10px 19px}
aside{float:right;width:314px}
aside .vidget_area>div{float:left;width:294px;border:1px solid #ebebeb;border-radius:6px;box-shadow:0 0 10px rgba(0,0,0,0.1);padding:10px 17px 2px 0}
aside .vidget_area>div+div{margin:17px 0px 17px 0px}
aside .vidget_area>div h2{float:left;width:276px;font-size:15px;line-height:17px;margin:0 0 17px;padding:0 0 0 18px}
article.post{float:left;width:145px}
article.post+article.post{margin:0 0 0 8px}
article.post .post_image{float:left;margin:0 0 10px}
article.post .post_image img{float:left;width:145px;height:99px}
article.post h3{float:left;width:100%;text-align:center;font-weight:400;font-size:16px;line-height:18px}
article.post h3 a{color:#181818}
article.main_post{float:left;width:615px;margin:10px 0 0}
article.main_post+article.main_post{background:url(images/shadow.png) center top no-repeat;padding:15px 0 0}
article.main_post .post_image img{float:left;width:200px;height:136px;border-radius:8px}
article.main_post h3{float:right;width:400px;font-size:18px}
article.main_post p{float:right;width:400px;margin:10px 0 8px}
article.main_post .read_more{float:right;width:400px}
article.last_post{float:left;width:283px;padding:0 15px 0 0}
article.last_post .post_image img{float:left;width:283px;height:166px}
article.last_post h3{float:left;width:100%;font-size:19px;line-height:20px;color:#181818;margin:10px 0 0}
article.last_post h3 a{color:#3a3a3a;text-decoration:underline}
article.state{float:right;width:224px;padding:0 0 0 10px}
article.state+article.state{background:url(images/shadow.png) -35px top no-repeat;margin:7px 0 0;padding:10px 0 0 10px}
article.state h3{float:right;width:143px;font-size:14px;line-height:17px}
article.state time{float:right;width:143px;margin:5px 0 0}
article.big_state{float:left;position:relative;width:378px;height:258px}
article.big_state img{float:left;width:376px;height:256px;border:1px solid #adadad;border-radius:8px}
article.big_state .about_news{position:absolute;width:352px;bottom:0;left:1px;background:url(images/title_bg.png) left top;border-radius:0 0 8px 8px;padding:10px 12px 14px}
article.big_state h3 a{color:#fff;font-weight:normal;}
article.big_state h3 a:hover{text-decoration:underline}
article.aside_form{float:left;width:126px;height:176px;overflow:hidden;margin:0 0 15px 20px}
article.aside_form .post_image{float:left;margin:0 0 5px}
article.aside_form .post_image img{float:left;width:120px;height:50px}
article.aside_form span{float:left;width:100%;font-size:13px;line-height:16px;min-height:80px}
article.aside_form .send,#calc-go{cursor:pointer;float:left;width:126px;height:33px;line-height:30px;color:#fff;text-align:center;background:url(images/button1.png) left top no-repeat;margin:6px 0 0}
.single_area input[type=button]{background: url("images/nav_bg.png") repeat-x scroll left top #00B1C7;border-radius: 6px 6px 6px 6px;padding:0 12px;height:33px;line-height:33px;text-decoration: none !important;color:#fff;cursor:pointer;font-size:14px}
.single_area input[type=button].big{background: url("images/nav_bg.png") repeat-x scroll left top #00B1C7;border-radius: 6px 6px 6px 6px;padding:0 12px;height:42px;line-height:42px;text-decoration: none !important;color:#fff;cursor:pointer;font-size:24px}
.single_area a[target=_blank]{text-decoration:none}
.single_area .order_kred{display:inline-block;background: url("images/nav_bg.png") repeat-x scroll left top #00B1C7;border-radius: 6px 6px 6px 6px;padding:0 15px;height:33px;line-height:33px;text-decoration: none !important;color:#fff;cursor:pointer}
article.aside_form .send:hover{text-decoration:none;background:url(images/button1.png) left bottom no-repeat}
article.card{height:209px}
article.card .post_image img{height:77px;border-radius:5px}
article.card .send{margin:12px 0 0}
article.post_one{float:left;width:313px}
article.post_one+article.post_one{float:left;width:313px;margin:17px 0 0}
article.post_one h3{display:table-cell;width:229px;height:75px;line-height:18px;vertical-align:middle;padding:0 0 0 19px}
article.post_one h3 a{font-size:14px;font-weight:400;color:#3a3a3a}
section.content_wrapp .states,section.related_post{float:left;width:615px;border:1px solid #ebebeb;border-radius:6px;box-shadow:0 0 10px rgba(0,0,0,0.1);margin:0 0 26px;padding:6px 10px 20px 19px}
section.single_area h1,article.big_state h3{font-size:22px}
section.single_area a,article.main_post .read_more a{color:#00b5c7;text-decoration:underline}
section.single_area a:hover,article.main_post h3 a:hover,article.main_post .read_more a:hover,article.last_post h3 a:hover,article.state h3 a:hover{text-decoration:none}
aside .vidget_area,article.main_post .post_image,article.last_post .post_image,article.state .post_image,article.post_one .post_image{float:left}
article.main_post h3 a,article.state h3 a{color:#3a3a3a;text-decoration:underline}
article.state .post_image img,article.post_one .post_image img{float:left;width:71px;height:71px;border:1px solid #BBBBBB;border-radius:7px}

.online-calc input[type=text]{height:20px;width:340px;border:1px solid #EBEBEB;box-shadow:0 0 5px rgba(0,0,0,0.1);border-radius:5px;padding:3px 7px}
.pluso{position:relative;float:left;width:100%;height:50px!important}
.calculator-wrap{position:relative;float:left;width:100%;padding:0 0 20px}
.link_go_page{border:1px solid #EBEBEB;border-radius:6px 6px 6px 6px;box-shadow:0 0 10px rgba(0,0,0,0.1);font-family:Arial,Helvetica,sans-serif;line-height:21px;width:400px;margin:100px auto 26px;padding:20px}
footer{float:left;width:100%;margin:22px 0 0;padding:0 0 20px}
footer .vidget_area{float:left;width:980px}
footer .vidget_area>div{float:left;width:313px;position:relative}
footer .vidget_area>div+div{margin:0 0 0 20px}
footer .vidget_area>div h2{float:left;width:100%;font-size:23px;text-transform:uppercase;color:#3a3a3a;margin:0 0 6px;text-align:center}
footer .vidget_area ul li{float:left;width:313px;font-size:14px;line-height:22px}
footer .vidget_area ul li+li{margin:8px 0 0}
footer .vidget_area ul li a{color:#3a3a3a}

.textwidget center{display:block;text-align:center}

footer .vidget_area .widget_text img{float:left;width:253px;height:162px;margin:7px 30px 8px}
footer .vidget_area .widget_text span{float:left;width:100%;color:#3a3a3a;font-size:14px;line-height:22px}
footer .vidget_area .widget_text .button{float:left;width:164px;height:42px;line-height:38px;font-size:18px;color:#fff;text-align:center;background:url(images/button2.png) left top no-repeat;margin:11px 75px 0}
footer .vidget_area .widget_text .button:hover{text-decoration:none; background:url(images/button2.png) left bottom no-repeat;}
footer .bottom_footer{float:left;width:100%;border-top:1px solid #b5b5b5;margin:48px 0 0;padding:17px 0 0}
footer nav{float:left;width:100%;margin:0 0 11px}
footer nav ul li{float:left}
footer nav ul li+li{margin:0 0 0 16px}
footer nav ul li a{font-size:15px;color:#3a3a3a;position: relative;left:230px;text-decoration:underline}
footer nav ul li a:hover{text-decoration:none}
footer .copyright{float:left;width:100%;color:#a9a9a9}
footer .pluso{margin:10px 0 0!important}
footer .intro,footer .heart{width:980px;margin:0 auto}

